# Dependencies
node_modules/

# Build output
build/
dist/

# Environment files
.env
.env.local
.env.production

# Temporary files
tmp/
*.tmp

# Logs
logs/
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal
